@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensanslight.woff2") format("woff2"),
         url("../fonts/opensanslight.woff") format("woff");
    font-weight: 300;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensans.woff2") format("woff2"),
         url("../fonts/opensans.woff") format("woff");
    font-weight: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
         url("../fonts/gilroyextrabold.woff") format("woff");
    font-weight: 800;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroylight.woff2") format("woff2"),
         url("../fonts/gilroylight.woff") format("woff");
    font-weight: 300;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  /*width: 1440px;*/

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.2px;
  color: #464646;


  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-header {
  background-color: #f7e296;
  width: 1040px;
  margin: 40px auto 0;
  /* паддингом снизу подгоняю под макетную высоту хедера. Нормально? */
  padding: 25px 60px 144px 60px;
}






.services {
  background-color: #e5e5e5;
}

.catalog-page .header-logo {
  /* на внутренней странице логотип почему-то немного передвинут
  разница в 2 пикселя */
  top: -42px;
}

.catalog-page .main-header {
  padding: 25px 60px 31px 60px;
}

.about h2,
.contacts h2,
.catalog-page h1 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.5px;

  background-color: #ffffff;
}

.deliverees,
.deliverees a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  color: #000000;

  background-color: #ffffff;
}

.catalog-container a,
.header-site-navigation a,
.footer-site-navigation a,
.services-button {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.catalog-container-items a {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  letter-spacing: 0.2px;
  color: #464646;
  text-transform: none;
}

.filters h2,
.sorting h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.filters legend,
.catalog h3,
.popular-catalog a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.2px;
}

.filters label {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
  letter-spacing: 0.1px;
}

.catalog-item-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #464646;
  letter-spacing: 0.2px;
}

.promo-caption {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 179px;
  line-height: 179px;
  font-weight: 800;
  color: #ffffff;
  letter-spacing: 1.8px;

  padding: 0;
  margin: 0;

  position: absolute;
  right: 50px;
  top: -100px;
  z-index: 25;
}

.promo-container-highlight {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.5px;
}

.promo-features-caption {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #464646;
  letter-spacing: 0.1px;
}

.promo-features-value {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.4px;
}

.button {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  font-weight: 800;
  color: #000000;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #f7e296;
  width: 220px;
  height: 40px;
  /* как-то в состоянии покоя еще надо сделать узкую желтую полоску на фоне */
}

.button:hover,
.button:focus {
  /* желтая полоска становится размером с кнопку */
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.button-search {
  width: 85px;
  height: 49px;
  font-family: inherit;
  align-self: flex-end;
  border-top: 2px solid #000000;
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
  border-bottom: none;
  background-color: #f7e296;
  opacity: 0;
}

.button-search:hover,
.button-search:focus {
  color: #ffffff;
  background-color: #000000;
}

.button-search:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
  opacity: 1;
}

.search-form input[type="text"] {
  background-color: #f7e296;
  border: none;
}

.search-form {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 440px;
  /* прозрачная граница снизу, которая подсвечивается при фокусе поля поиска */
  border-bottom: 2px solid transparent;
}

.search-form:focus-within {
  border-bottom: 2px solid #000000;
}

.search-form::before {
  content: "";

  position: absolute;
  width: 16px;
  height: 16px;
  left: 3px;
  top: 26px;

  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search-field {
  padding: 18px 0 8px 38px;
  margin: 0;
  width: 300px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.2px;
}

.search-field,
.search-field::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-field:hover,
.search-field:hover::placeholder {
  /* первый селектор меняет цвет введенного текста при ховере,  */
  /* второй селектор меняет цвет плейсхолдера при ховере */
  color: rgba(0, 0, 0, 0.6);
}

.search-form input[type="text"]:focus {
  color: #000000;
  outline: none;
  /*форме поиска при фокусе надо еще рисовать рамку снизу
  но как это сделать через css пока не понял
  судя по всему, селектор не может выбрать родителя
  дописать фантомный див? */

}


.search-field:focus + .button-search {
  opacity: 1;
}

.services-button {
  width: 160px;
  /*height: 8px;*/
  /* сделать в состоянии покоя 8px высотой #f7e296 полоску */
  background-color: #f7e296;
  /* текст слева и паддинг слева - временные решения */
  /* на самом деле эти кнопки */
  text-align: center;
  vertical-align: middle;
}

.services-button:hover,
.services-button:focus {
  height: 40px;
}

.services-button:active {
  /* в этом состоянии текст должен оставаться центрированным */
  /* в области старой кнопки, а справа, видимо, пририсовывается черный п/у */
  width: 278px;
  color: #f7e184;
  background-color: #000000;
}

.main-navigation a,
.catalog a {
  color: #000000;
}

.catalog-container a:hover,
.catalog-container a:focus,
.main-navigation a:hover,
.main-navigation a:focus,
.header-site-navigation a:hover,
.header-site-navigation a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-container a:active,
.main-navigation a:active,
.header-site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}


.breadcrumbs,
.breadcrumbs a {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-container-items,
.header-site-navigation,
.promo-catalog,
.popular-catalog,
.services-catalog,
.brands-list,
.footer-user-navigation,
.footer-site-navigation,
.footer-social-buttons,
.header-user-navigation,
.breadcrumbs,
.filter-colors,
.filter-bluetooth,
.sorting-type,
.sorting-direction,
.catalog-list,
.pagination-list {
  list-style: none;
}

.main-navigation {
  display: flex;
  width: 1040px;

}

.header-logo {
  /* как лучше, отриц маргин или абсолютное позиционирование? */
  /* должен ли логотип в хедере на главной вести себя по стайлгайду при
  ховере и активе? то есть менять прозрачность при том, что на главной логотип -
  это не ссылка. Мне кажется, что должен. Так и сделано */
  margin: 0;
  padding: 0;
  position: absolute;
  top: -44px;
  /*background-color: rgba(0, 0, 200, 0.4);*/
}

.header-logo:hover,
.header-logo:focus {
  opacity: 0.6;
}

.header-logo:active {
  opacity: 0.3;
}

.header-left-column-wrapper {
  width: 540px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  padding: 0;
}

.header-right-column-wrapper {
  width: 500px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 18px 0 0 0;
}

.header-site-navigation {
  display: flex;
  width: 100%;
  padding: 0;
  position: relative;
}

.header-site-navigation a {
  display: inline-block;
}

.header-site-navigation li:nth-child(1) {
  width: 125px;
  padding: 0;
  margin: 0;
}

.header-site-navigation li:nth-child(2) {
  width: 115px;
  padding: 0;
  margin: 0 0 0 33px;
}

.header-site-navigation li:nth-child(3) {
  width: 120px;
  padding: 0;
  margin: 0 0 0 107px;
}

.index-page .header-site-navigation::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 7px;
  top: 115px;
  background-color: #ffffff;
  z-index: 50;
}

.catalog-container {
  /* снова злосчастный -1 пиксель слева */
  margin: 27px 0 0 -1px;
  padding: 0;
  position: relative;
}

.catalog-container-caption {
  /* паддинг справа для плюсика-псевдоэлемента */
  /* а слева - чтобы была сплошная область для ховера при показе меню */
  padding: 0 30px 25px 0;
  position: relative;
  /*background-color: rgba(0, 200, 0, 0.5);*/
}

.catalog-container-caption::before {
  /* плюсик-псевдоэлемент */
  content: "";

  position: absolute;
  width: 16px;
  height: 16px;
  left: 231px;
  top: 2px;

  background-image: url("../img/plus.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-container-items {
  /* выпадающее меню каталога */
  display: none;
  width: 1160px;
  position: absolute;
  left: -59px;
  top: 47px;
  background-color: #f7e296;
  /* так и не понял, откуда там взялся явно видный отступ в 1 пиксель */
  margin: 0 0 0 -1px;
  padding: 0;
  /*background-color: rgba(200, 0, 0, 0.5);*/
}

.catalog-container-caption:hover ~ .catalog-container-items {
  /* показ всплывающего меню */
  display: flex;
}

.catalog-container-items:hover {
  /* и продолжение показа при ховерах по пунктам
  но это работает не так как хотелось. Такое чувство, что ховер активируется только
  при наведении на старое место элемента. Как лечить? */
  display: flex;
}

.catalog-container-items-digital {
  width: 240px;
  padding: 0 0 0 60px;
  margin: 0;
  list-style: none;
}

.catalog-container-items-watches {
  width: 200px;
  list-style: none;
  padding: 0;
}

.catalog-container-items-toys {
  width: 120px;
  list-style: none;
  padding: 0;
}


.promo-catalog {
  display: flex;

  margin: 0 auto;
  padding: 0;
}

 .promo-catalog-item {
  display: flex;
  position: relative;
  width: 1160px;
  margin: 50px auto 0px auto;
  padding: 0;

  /*background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);*/
}

.promo-container-image {
  width: 600px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /*background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);*/
}

.promo-container-text {
  width: 500px;
  margin: 0 60 0 0;
  padding: 0;

  /*background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);*/

}

.popular-catalog {
  display: flex;
  width: 1160px;
  margin: 105px auto 0 auto;
}

.popular-catalog-item {
  margin: 0 20px;
}

.popular-catalog-item-picture {
  width: 160px;
  height: 160px;
  background-color: #f7e296;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popular-catalog-item-caption {
  display: block;
  width: 160px;
  margin: 40px 0 0 0;
  /*background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);*/
}

.header-right-column-topmenu-wrapper {
  /* эта обертка нужна, но для однотипности можно ее переименовать в
  .header-user-menu-wrapper */
  display: flex;
  /*justify-content: space-between;*/
  width: 500px;
  margin: 0;
  /*background-color: rgba(200, 0, 0, 0.3);*/
}

.header-right-column-bottommenu-wrapper {
  /* а нужна ли эта обертка? ее функции неплохо выполнит и сам неупорядоченный
  список .header-site-navigation. Переделать, если будет время */
  display: flex;
  justify-content: space-between;
  margin: 21px 0 0 0;
  width: 500px;
}

.header-user-navigation {
  margin: 0;
  padding: 0 0 0 25px;
  width: 255px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

li .header-logout {
  /* любопытно, селектор просто по классу .header-logout не перекрашивал цвет,
  потому что селектор (.main-navigation a) был сильнее */
  padding: 0;
  color: rgba(0, 0, 0, 0.3);
  margin: 0 0 0 19px;
}

.header-login {
  padding: 0;
}

.header-loggedin {
  margin: 0 0 0 2px;
  padding: 0;
}

.header-login::before,
.header-loggedin::before {
  content: "";

  position: absolute;
  width: 13px;
  height: 12px;
  left: 0px;
  top: 9px;

  background-image: url("../img/user-header.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-compare-button {
  margin: 0 0 0 2px;
  padding: 0 0 0 25px;
  position: relative;

  width: 70px;
  /*background-color: rgba(0, 200, 200, 0.3)*/
}

.header-compare-button::before {
  content: "";

  position: absolute;
  width: 10px;
  height: 10px;
  left: 5px;
  top: 11px;

  background-image: url("../img/compare-header.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-cart-button {
  margin: 0 0 0 38px;
  padding: 0 0 0 25px;

  position: relative;
  width: 60px;

  text-align: right;
  /*background-color: rgba(0, 200, 0, 0.3)*/
}

.header-cart-button::before {
  content: "";

  position: absolute;
  width: 12px;
  height: 12px;
  left: 2px;
  top: 9px;

  background-image: url("../img/cart-header.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.header-compare-button:hover::before,
.header-compare-button:focus::before,
.header-cart-button:hover::before,
.header-cart-button:focus::before {
  /* иконка входа на главной по макету не становится прозрачна на 0.6 при
  наведении. Это ошибка или сознательно сделанная мелочь?
  У меня сделано по макету */
  opacity: 0.6;
}

.header-login:active::before,
.header-compare-button:active::before,
.header-cart-button:active::before {
  opacity: 0.3;
}


/* ========================== футер ========================== */

.main-footer {
  color: #ffffff;

  background-color: #464646;

  width: 1440px;
  margin: 0 auto;
  padding: 65px 140px;
}

.footer-navigation {
  display: flex;
  width: 1160px;
}

.footer-site-navigation a {
  color: #ffffff;
}

.footer-site-navigation a:hover,
.footer-site-navigation a:focus {
  opacity: 0.6;
}

.footer-site-navigation a:active {
  opacity: 0.3;
}

.footer-user-menu a {
  color: #ffffff;
  opacity: 0.7;
}

.footer-user-menu a:hover,
.footer-user-menu a:focus {
  opacity: 1;
}

.footer-user-menu a:active {
  opacity: 0.3;
}


.footer-left-column-wrapper {
  width: 360px;
}

.footer-middle-column-wrapper {
  width: 440px;
}

.footer-right-column-wrapper {
  width: 360px;
  display: flex;
  flex-direction: column;
}


.footer-logo-address {
  margin: 21px 0 0 0;
  padding: 0;
  letter-spacing: normal;
  position: relative;
}

.footer-logo-address::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  top: 107px;
  left: 0px;
  background-color: #ffc600;
  z-index: 50;
}

.footer-logo img:hover,
.footer-logo img:focus,
.footer-user-menu a:hover::before,
.footer-user-menu a:focus::before,
.footer-copyright:hover,
.footer-copyright:focus {
  /* в .footer-user-menu все элементы ссылки, поэтому данное правило
  срабатывает на них на всех разом. */
  opacity: 0.6;
}

.footer-logo img:active,
.footer-user-menu a:active::before,
.footer-copyright:active {
  opacity: 0.3;
}

.footer-user-menu {
  width: 100%;
  margin: -2px 0 0 0;
  padding: 0;
  display: flex;
}


.catalog-page .footer-user-menu {
  /* костыль с отрицательным левым маргином (не учел, делая сетку футера главной
  тот факт, кто меню пользователя наползает на среднюю колонку на внутренних
  страницах). Переделать бы на другую сетку... */
  width: 480px;
  margin: -2px 0 0 -120px;
}

.footer-user-navigation {
  margin: 0 32px 0 auto;
  padding: 0 0 0 30px;
  width: 50px;
  position: relative;
}

.catalog-page .footer-user-navigation {
  width: 200px;
  display: flex;
}

li .footer-logout {
  /* снова не хотела перекрашиваться ссылка "выйти", пришлось
  усиливать селектор по классу */
  opacity: 0.3;
}

.footer-logout {
  margin: 0 0 0 19px;
}

.footer-login::before {
  content: "";

  position: absolute;
  width: 13px;
  height: 12px;
  left: 4px;
  top: 9px;

  background-image: url("../img/user-footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.footer-loggedin {
  margin: 0 0 0 -4px;
}

.footer-loggedin::before {
  content: "";

  position: absolute;
  width: 13px;
  height: 12px;
  left: 0px;
  top: 9px;

  background-image: url("../img/user-footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.footer-compare-button {
  margin: 0 28px 0 0;
  padding: 0 0 0 25px;
  width: 75px;
  position: relative;
}

.footer-compare-button::before {
  content: "";

  position: absolute;
  width: 10px;
  height: 10px;
  left: 5px;
  top: 11px;

  background-image: url("../img/compare-footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.footer-cart-button {
  margin: 0 -2px 0 0;
  padding: 0 0 0 25px;
  width: 65px;
  text-align: right;
  position: relative;
}

.footer-cart-button::before {
  content: "";

  position: absolute;
  width: 12px;
  height: 12px;
  left: 7px;
  top: 9px;

  background-image: url("../img/cart-footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.footer-logo-phone {
  margin: 37px 0 0 auto;
  padding: 0;
  letter-spacing: normal;
}

.footer-copyright {
  margin: 62px -1px 0 auto;
  padding: 0;
}

.footer-login {
  margin: 0;
  padding: 0;
}

.footer-site-navigation {
  margin: 69px 0 0 0;
  padding: 0;
  display: flex;
}

.footer-site-navigation li:nth-child(1) {
  width: 125px;
  margin: 0 0 0 8px;
}

.footer-site-navigation li:nth-child(2) {
  width: 115px;
  margin: 0 0 0 33px;
}

.footer-site-navigation li:nth-child(3) {
  width: 120px;
  margin: 0 0 0 32px;
}

.footer-social-buttons {
  display: flex;
  margin: 60px 140px 0 140px;
  padding: 0;
  justify-content: space-around;
  opacity: 0.3;
}

.footer-social-buttons a:hover,
.footer-social-buttons a:focus {
  opacity: 0.6;
}

.footer-social-buttons a:active {
  opacity: 0.1;
}

/* =========================================================== */
