@font-face {
  font-weight: 300;
  font-family: "Open Sans";

  src: url("../fonts/opensanslight.woff2") format("woff2"),
  url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-weight: normal;
  font-family: "Open Sans";

  src: url("../fonts/opensans.woff2") format("woff2"),
  url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-weight: 800;
  font-family: "Gilroy";

  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "Gilroy";

  src: url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

body {
  margin: 0;
  padding: 0;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #464646;
  letter-spacing: 0.2px;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ==================== универсальные стили ======================= */
.button {
  position: relative;
  /* z-index не авто потому, что на странице каталога цвет фона формы фильтров
  не давал изменять фоны кнопок */
  z-index: 10;

  display: block;
  width: 220px;
  height: 40px;
  margin: 0;
  padding: 0;

  font-weight: 800;
  font-size: 18px;
  /* для выравнивания текста внутри кнопок. Костыль, но работает */
  line-height: 40px;
  font-family: "Gilroy", Arial, sans-serif;
  vertical-align: middle;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.6px;

  background-color: transparent;
  border: none;
}

.button::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 0;
  z-index: -5;

  width: 100%;
  height: 8px;

  background-color: #f0c52e;
}

.button:hover::before,
.button:focus::before {
  top: 0;

  height: 40px;
}

.button:active a {
  opacity: 0.3;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

/* ================================================================ */
/* ==================== хедер ======================================*/
.main-header {
  width: 1040px;
  margin: 40px auto 0;
  padding: 25px 60px 146px 60px;

  background-color: #f7e296;
}

.catalog-container a,
.header-site-navigation a,
.footer-site-navigation a {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.catalog-container-items a {
  z-index: 50;

  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #464646;
  text-transform: none;
  letter-spacing: 0.2px;
}

input::-ms-clear {
  /* убирает крестик в полях input для #ie11 */
  display: none;
}


.search-form {
  position: relative;

  width: 440px;
  margin: 0;
  padding: 0;
}

.search-form::before {
  content: "";
  position: absolute;
  top: 26px;
  left: 3px;

  width: 16px;
  height: 16px;

  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search-field {
  width: 320px;
  margin: 23px 0 0 0;
  padding: 0 0 13px 38px;

  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  font-family: "Open Sans", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.2px;

  background-color: transparent;
  border: none;
  /* чтобы при фокусе красить нижнюю рамку в черный */
  border-bottom: 2px solid transparent;
}

.search-field:hover {
  color: rgba(0, 0, 0, 0.6);
}

.search-field:focus {
  color: #000000;

  border-bottom: 2px solid #000000;
  outline: none;
}

.search-field:focus ~ .button-search {
  display: block;
}

.button-search {
  position: absolute;
  top: 9px;
  right: 0;

  display: none;
  width: 85px;
  height: 49px;

  font-family: inherit;

  background-color: #f7e296;
  border: 2px solid #000000;
}

.button-search:active::before {
  /* псевдоэлемент у кнопки, который эмулирует нижнюю рамку поля поиска при
  нажатой кнопке, когда фокус с поля поиска уже сошел */
  content: "";
  position: absolute;
  right: 0;
  bottom: -2px;

  width: 438px;
  height: 2px;

  background-color: #000000;
}

.button-search:hover,
.button-search:focus {
  color: #ffffff;

  background-color: #000000;
}

.button-search:active {
  /* чтобы кнопка оставалась, когда на нее нажимаешь, а фокус уже уходит с
  поля поиска */
  display: block;

  color: rgba(255, 255, 255, 0.3);

  background-color: #000000;
  outline: none;
}

.main-navigation a {
  color: #000000;
}

.catalog-container a:hover,
.catalog-container a:focus,
.main-navigation a:hover,
.main-navigation a:focus,
.header-site-navigation a:hover,
.header-site-navigation a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-container a:active,
.main-navigation a:active,
.header-site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
  display: flex;
  width: 1040px;
}

.header-logo {
  position: absolute;
  top: -44px;

  margin: 0;
  padding: 0;
}

.catalog-page .header-logo:hover,
.catalog-page .header-logo:focus {
  opacity: 0.6;
}

.catalog-page .header-logo:active {
  opacity: 0.3;
}

.header-logo-search-catalog-wrapper {
  position: relative;

  width: 540px;
  margin: 0;
  padding: 0;
}

.header-user-site-menus-wrapper {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0;
  padding: 18px 0 0 0;
}

.header-site-navigation a {
  display: inline-block;

  vertical-align: middle;
}

.header-site-navigation li:nth-child(1) {
  width: 125px;
  margin: 0;
  padding: 0;
}

.header-site-navigation li:nth-child(2) {
  width: 115px;
  margin: 0 0 0 33px;
  padding: 0;
}

.header-site-navigation li:nth-child(3) {
  width: 120px;
  margin: 0 0 0 107px;
  padding: 0;
}

.catalog-container {
  position: relative;
  /* снова злосчастный -1 пиксель слева */

  margin: 27px 0 0 -1px;
  padding: 0;
}

.catalog-container-caption {
  position: relative;
  /* паддинг справа для плюсика-псевдоэлемента */
  /* а снизу - чтобы была сплошная область для ховера при показе меню */

  padding: 0 30px 25px 0;
}

.catalog-container-caption::before {
  /* плюсик-псевдоэлемент */
  content: "";
  position: absolute;
  top: 2px;
  left: 231px;

  width: 16px;
  height: 16px;

  background-image: url("../img/plus.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-container-caption:hover ~ .catalog-container-items {
  /* показ всплывающего меню */
  display: flex;
}

.catalog-container-items:hover {
  /*и продолжение показа при ховерах по пунктам*/
  display: flex;
}

.catalog-container-items {
  /* выпадающее меню каталога */
  position: absolute;
  top: 47px;
  left: -59px;
  z-index: 100;

  display: none;
  min-width: 1160px;
  margin: 0;
  padding: 0 0 34px 0;

  list-style: none;

  background-color: #f7e296;
}

.catalog-container-items-digital {
  width: 240px;
  margin: 0;
  padding: 0 0 0 60px;

  list-style: none;
}

.catalog-container-items-watches {
  width: 200px;
  padding: 0;

  list-style: none;
}

.catalog-container-items-toys {
  width: 120px;
  padding: 0;

  list-style: none;
}

.header-user-menu-wrapper {
  display: flex;
  width: 500px;
  margin: 0 0 35px 0;
}

.header-site-navigation {
  position: relative;

  display: flex;
  justify-content: space-between;
  width: 100%;
  width: 500px;
  margin: 0 0 15px 0;
  padding: 0;

  list-style: none;
}

.header-user-navigation {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  width: 255px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.header-user-navigation a {
  position: relative;

  margin: 0;
  padding: 0 0 0 26px;
}

.header-other-navigation {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  width: 250px;
}

li .header-logout {
  /* любопытно, селектор просто по классу .header-logout не перекрашивал цвет,
  потому что селектор (.main-navigation a) был сильнее */
  margin: 0 0 0 19px;
  padding: 0;

  color: rgba(0, 0, 0, 0.3);
}

.header-login {
  padding: 0;
}

.header-loggedin {
  margin: 0 0 0 2px;
  padding: 0;
}

.header-login::before,
.header-loggedin::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;

  width: 13px;
  height: 12px;

  background-image: url("../img/user-header.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-compare-button {
  position: relative;

  margin: 0 0 0 32px;
  padding: 0 0 0 25px;
}

.catalog-page .header-compare-button {
  /* на странице каталога другая подгонка под макет */
  margin-left: 28px;
}

.header-compare-button::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 5px;

  width: 10px;
  height: 10px;

  background-image: url("../img/compare-header.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-cart-button {
  position: relative;

  margin: 0 0 0 auto;
  padding: 0 0 0 25px;

  text-align: right;
}

.header-cart-button::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 2px;

  width: 12px;
  height: 12px;

  background-image: url("../img/cart-header.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.header-compare-button:hover::before,
.header-compare-button:focus::before,
.header-cart-button:hover::before,
.header-cart-button:focus::before {
  /* иконка входа на главной по макету не становится прозрачна на 0.6 при
  наведении. Это ошибка или сознательно сделанная мелочь?
  У меня сделано по макету */
  opacity: 0.6;
}

.header-login:active::before,
.header-compare-button:active::before,
.header-cart-button:active::before {
  opacity: 0.3;
}


/* ================================================================ */

/* ======================== сервисы ============================= */
.services {
  min-width: 1160px;

  background-color: #e5e5e5;
}

.services-wrapper {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.services-slider-controls {
  position: relative;
  top: -100px;

  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  width: 280px;
  padding: 0 0 40px 0;
}

.services-slider-controls::before {
  content: "";
  position: absolute;
  right: -4px;

  width: 7px;
  /* чтобы длина разделителя увеличивалась при увеличении объема текста в слайде */
  height: calc(100% + 30px);

  background-color: #000000;
}

.services-slider {
  flex-shrink: 0;
  width: 760px;
  margin: 0;
  padding: 0 0 0 120px;

  list-style: none;
}

.services-button {
  position: relative;
  z-index: 10;

  display: block;
  width: 160px;
  height: 40px;
  margin: 24px 0 0 0;
  padding: 0;

  font-weight: 800;
  font-size: 18px;
  /* для выравнивания текста внутри кнопок. Костыль, но работает */
  line-height: 40px;
  /* с кнопками этого слайдера замечен странный эффект:
  в макете, когда пункт активен (подсвечивается черным), текст в нем
  съезжает в сторону от неактивного состояния, причем в доставке
  он съезжает налево, а в двух других пунктах - направо. Это можно
  подправить разными маргинами для разных пунктов, но я предпочту
  верить, что "у дизайнера дрогнула рука" (c) */
  font-family: "Gilroy", Arial, sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.services-button:first-child {
  margin: 80px 0 0 0;
}

.services-button::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 0;
  z-index: -5;

  width: 100%;
  height: 8px;

  background-color: #f0c52e;
}

.services-button:hover::before,
.services-button:focus::before {
  top: 0;

  height: 40px;
}

.services-slider-radio-1:checked ~ .services-slider-controls .services-button:nth-child(1),
.services-slider-radio-2:checked ~ .services-slider-controls .services-button:nth-child(2),
.services-slider-radio-3:checked ~ .services-slider-controls .services-button:nth-child(3) {
  /* перекрашивание лейбла выбранного слайда (шрифт надписи)*/
  color: #f7e184;
}

.services-slider-radio-1:checked ~ .services-slider-controls .services-button:nth-child(1)::before,
.services-slider-radio-2:checked ~ .services-slider-controls .services-button:nth-child(2)::before,
.services-slider-radio-3:checked ~ .services-slider-controls .services-button:nth-child(3)::before {
  /* перекрашивание лейбла выбранного слайда (фон) */
  top: 0;

  width: 280px;
  height: 40px;

  background-color: #000000;
}


.services-caption {
  margin: 0;
  padding: 0;

  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
  letter-spacing: 0.5px;
}

.services-description {
  margin: 31px 0 0 0;
  padding: 0 460px 80px 0;
}

.services-slider-item {
  display: none;
  margin: -47px 0 0 0;
  padding: 20px 0 0 0;
}

.services-slider-item:nth-child(1) {
  background-image: url("../img/services-delivery.svg");
  background-repeat: no-repeat;
  background-position: 558px 32px;
}

.services-slider-item:nth-child(2) {
  background-image: url("../img/services-warranty.svg");
  background-repeat: no-repeat;
  background-position: 539px 8px;
}

.services-slider-item:nth-child(3) {
  background-image: url("../img/services-credit.svg");
  background-repeat: no-repeat;
  background-position: 531px 9px;
}

.services-slider-radio-1:checked ~ .services-slider .services-slider-item:nth-child(1),
.services-slider-radio-2:checked ~ .services-slider .services-slider-item:nth-child(2),
.services-slider-radio-3:checked ~ .services-slider .services-slider-item:nth-child(3) {
  display: block;
}

/* ================== промо каталог =============================== */
.promo-caption {
  position: absolute;
  top: -13px;
  right: 46px;
  /* чтобы рисовался поверх хедера */
  z-index: 5;

  margin: 0;
  padding: 0;

  font-weight: 800;
  font-size: 179px;
  line-height: 179px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #ffffff;
  letter-spacing: 1.8px;
}

.promo-container-highlight {
  position: relative;
  z-index: 10;

  margin: 50px 0 0 0;
  padding: 0;

  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
  letter-spacing: 0.45px;
}

.promo-features-caption {
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #464646;
  letter-spacing: 0.1px;
}

.promo-features-value {
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
  letter-spacing: 0.4px;
}

.promo {
  position: relative;

  box-sizing: border-box;
  width: 1160px;
  margin: 0 auto 54px auto;
  padding: 0;
}

.promo-catalog {
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.promo-catalog-item {
  position: relative;

  display: none;
  justify-content: space-between;
  margin: -110px auto 0;
  padding: 0;
}

.promo-container-image-wrapper {
  width: 580px;
  margin: 0;
  padding: 0;
}

/* персональные маргины для выравнивания картинок слайдов */
.promo-catalog-item:nth-child(1) .promo-container-image {
  margin: 0 0 0 90px;
}

.promo-catalog-item:nth-child(2) .promo-container-image {
  margin: 10px 0 0 116px;
}

.promo-catalog-item:nth-child(3) .promo-container-image {
  margin: 64px 0 0 31px;
}

.promo-container-description {
  width: 500px;
  padding: 30px 60px 0 20px;
}

.promo-container-description::before {
  content: "";
  position: absolute;
  top: 37px;
  z-index: 25;

  width: 100px;
  height: 7px;

  background-color: #ffffff;
}

.promo-container-info {
  margin: 18px 0 0 0;
  padding: 0 36px 0 0;
}

.promo-catalog-item:first-child .promo-container-info {
  /* для правильных переносов текста без <br> разные паддинги в разных слайдах */
  padding: 0 1px 0 0;
}

.button-slider-more {
  width: 220px;
  margin: 44px 0 0 0;
}

.promo-slider-controls {
  position: absolute;
  right: 41px;
  bottom: 200px;

  width: 120px;
  height: 20px;
}

.promo-slider-controls label {
  position: relative;

  display: inline-block;
  /* чтобы, делая кружки в контролах слайдера, не вычитать рамки */
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  margin: 0 17px 0 0;

  font-size: 0;
  vertical-align: middle;

  border: 1px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.promo-slider-radio-1:checked ~ .promo-catalog .promo-catalog-item:nth-child(1),
.promo-slider-radio-2:checked ~ .promo-catalog .promo-catalog-item:nth-child(2),
.promo-slider-radio-3:checked ~ .promo-catalog .promo-catalog-item:nth-child(3) {
  display: flex;
}

.promo-slider-radio-1:checked ~ .promo-slider-controls .promo-slider-control--1::before,
.promo-slider-radio-2:checked ~ .promo-slider-controls .promo-slider-control--2::before,
.promo-slider-radio-3:checked ~ .promo-slider-controls .promo-slider-control--3::before {
  /* этот монстр формально соответствует критерию Д7 про вложенность селекторов
  не больше двух */
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;

  box-sizing: border-box;
  width: 6px;
  height: 6px;

  border: 1px solid #000000;
  border-radius: 50%;
}

.promo-features {
  margin: 41px 0 56px -3px;
}

/* стили таблиц слайдера. Как-то неприкольно в третьем слайдере паддинг
между столбцам таблицы не такой, как в первом */
.promo-features-caption,
.promo-features-value {
  margin: 0;
  padding: 6px 75px 0 0;
}

.promo-features-caption:last-child,
.promo-features-value:last-child {
  padding: 6px 0 0 0;
}

.promo-catalog-item:nth-child(3) .promo-features-caption,
.promo-catalog-item:nth-child(3) .promo-features-value {
  padding: 6px 45px 0 0;
}

/* ================================================================ */
/* ========================= раздел популярных ==================== */

.popular {
  width: 1160px;
  margin: 0 auto 181px auto;
  padding: 0;
}

.popular-catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto 0 auto;
  padding: 0;

  list-style: none;
}

.popular-catalog a {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
  letter-spacing: 0.2px;
}

.popular-catalog-item {
  width: 160px;
  position: relative;
  margin: 0 40px 0 0;
}

.popular-catalog-item:nth-child(6n) {
  margin-right: 0;
}

.popular-catalog-item-caption {
  display: block;
  width: 160px;
  margin: 33px 0 0 0;
  padding: 0;
}

.popular-catalog-item::before {
  /* общие стили для всех картинок раздела популярные */
  /* пришлось потрудится над популярными. Т.к. это не контентные изображения,
  их следует делать псевдоэлементами, при этом по стайлгайду фон в активном
  состоянии не меняется, а картинка становится opacity: 0.3, поэтому
  в ::before лежит фон, а ::after - абсолютно спозиционированная картинка  */
  display: block;
  content: "";
  width: 160px;
  height: 160px;
  background-color: #f7e296;
}

.popular-catalog-item::after {
  position: absolute;
  content: "";
  display: block;
  width: 160px;
  height: 160px;
  background-color: transparent;
  top: 0px;
  left: 0px;
}

.popular-catalog-virtual-reality::after {
  background-image: url("../img/popular-1.svg");
  background-repeat: no-repeat;
  background-position: 31px 52px;
}

.popular-catalog-selfie-sticks::after {
  background-image: url("../img/popular-2.svg");
  background-repeat: no-repeat;
  background-position: 38px 41px;
}

.popular-catalog-action-cameras::after {
  background-image: url("../img/popular-3.svg");
  background-repeat: no-repeat;
  background-position: 49px 38px;
}

.popular-catalog-fitness-bracelets::after {
  background-image: url("../img/popular-4.svg");
  background-repeat: no-repeat;
  background-position: 28px 50px;
}

.popular-catalog-smart-watches::after {
  background-image: url("../img/popular-5.svg");
  background-repeat: no-repeat;
  background-position: 55px 32px;
}

.popular-catalog-quadrocopters::after {
  background-image: url("../img/popular-6.svg");
  background-repeat: no-repeat;
  background-position: 13px 49px;
}

.popular-catalog-item:hover::before,
.popular-catalog-item:focus::before,
.popular-catalog-item:active::before {
  background-color: #f0c52e;
}

.popular-catalog-item:active .popular-catalog-item-caption,
.popular-catalog-item:active::after {
  opacity: 0.3;
}

/* и снова неодинаковая стилизация разных элементов списка */
.popular-catalog-item:nth-child(2) .popular-catalog-item-caption {
  /* для переноса "моноподы для селфи" либо уменьшить ширину блока
  либо вставить в html-разметку <br> */
  width: 125px;
}


/* ================================================================ */
/* ===================== раздел брендов =========================== */

.brands {
  width: 1160px;
  margin: 0 auto 94px auto;
}

.brands-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 94px auto 0;
  padding: 0;

  list-style: none;
}

.brands-list-item {
  margin: 0 40px 0 0;
}

.brands-list-item:nth-child(4n) {
  margin-right: 0;
}

.brands-list-item a {
  display: block;
  width: 260px;
  height: 100px;
  margin: 0;
  padding: 0;
}

/* весь этот огород с двумя изображениями из-за того, что грейскейл
фильтр не поддерживается #ie11 */
.brands-list-item .brands-logo-fullcolor {
  display: none;
}

.brands-list-item .brands-logo-grayscale {
  display: block;
}

.brands-list-item:hover .brands-logo-fullcolor,
.brands-list-item:focus .brands-logo-fullcolor {
  display: block;
}

.brands-list-item:hover .brands-logo-grayscale,
.brands-list-item:focus .brands-logo-grayscale {
  display: none;
}

/* ================================================================ */
/* =============== стили каталога ================================= */
.catalog-page .header-logo {
  /* на внутренней странице логотип почему-то немного передвинут
  разница в 2 пикселя */
  top: -42px;
}

.catalog-page .main-header {
  padding: 25px 60px 31px 60px;
}

.catalog-page h1 {
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
  letter-spacing: 0.5px;

  background-color: #ffffff;
}

.filter legend,
.catalog h3 {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
  letter-spacing: 0.2px;
}

.filter label {
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  font-family: "Open Sans", Arial, sans-serif;
  letter-spacing: 0.1px;
}

.catalog-item-price {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #464646;
  letter-spacing: 0.2px;
}

.filter-caption,
.sorting h2 {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

.catalog-compare {
  font-weight: 300;
  font-size: 13px;
  line-height: 36px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
  letter-spacing: 0.1px;
}

/* ================================================================ */
/* ========================== футер =============================== */
.main-footer {
  min-width: 1160px;

  color: #ffffff;

  background-color: #464646;
}

.footer-navigation {
  width: 1160px;
  margin: 0 auto;
  padding: 65px 0 55px 0;
}

.catalog-page .footer-navigation {
  margin: 0 auto;
}

.footer-user-menu-wrapper {
  display: flex;
  margin: 0 0 21px 0;
  padding: 0;
}

.footer-site-navigation-wrapper {
  display: flex;
  margin: 0 0 60px 0;
  padding: 0;
}

.footer-misc-info-wrapper {
  position: relative;

  display: flex;
  margin: 0;
  padding: 0 0 3px 0;
}

.footer-misc-info-wrapper::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: #ffc600;
}

.footer-site-navigation a {
  color: #ffffff;
}


.footer-site-navigation a:hover,
.footer-site-navigation a:focus {
  opacity: 0.6;
}

.footer-site-navigation a:active {
  opacity: 0.3;
}

.footer-user-menu {
  display: flex;
  justify-content: flex-end;
  width: 997px;
  margin: -2px 0 0 0;
  padding: 0;
}

.footer-user-menu a {
  color: #ffffff;

  opacity: 0.7;
}

.footer-user-menu a:hover,
.footer-user-menu a:focus {
  opacity: 1;
}

.footer-user-menu a:active {
  opacity: 0.3;
}

.footer-logo-address {
  flex-shrink: 0;
  width: 360px;
  margin: 0;
  padding: 0;

  letter-spacing: normal;
}

.catalog-page .footer-logo img:hover,
.catalog-page .footer-logo img:focus,
.footer-user-menu a:hover::before,
.footer-user-menu a:focus::before,
.footer-copyright:hover,
.footer-copyright:focus {
  /* в .footer-user-menu все элементы ссылки, поэтому данное правило
  срабатывает на них на всех разом. */
  opacity: 0.6;
}

.catalog-page .footer-logo img:active,
.footer-user-menu a:active::before,
.footer-copyright:active {
  opacity: 0.3;
}

.footer-user-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-other-navigation {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  width: 256px;
}

.footer-login {
  position: relative;

  margin: 0;
  padding: 0 0 0 30px;
}

.footer-login::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;

  width: 13px;
  height: 12px;

  background-image: url("../img/user-footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

li .footer-logout {
  /* снова не хотела перекрашиваться ссылка "выйти", пришлось
  усиливать селектор по классу */
  opacity: 0.3;
}

.footer-logout {
  margin: 0 0 0 19px;
}

.footer-loggedin {
  position: relative;

  padding: 0 0 0 30px;
}

.footer-loggedin::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;

  width: 13px;
  height: 12px;

  background-image: url("../img/user-footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.footer-compare-button {
  position: relative;

  margin: 0 0 0 33px;
  padding: 0 0 0 30px;
}

.footer-compare-button::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 10px;

  width: 10px;
  height: 10px;

  background-image: url("../img/compare-footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.footer-cart-button {
  position: relative;

  margin: 0 0 0 32px;
  padding: 0 0 0 30px;
}

.footer-cart-button::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 9px;

  width: 12px;
  height: 12px;

  background-image: url("../img/cart-footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.footer-logo-phone {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 360px;
  margin: 0 0 0 -7px;
  padding: 0;

  letter-spacing: normal;
}

.footer-copyright {
  margin: -3px 0 0 auto;
  padding: 0;
}

.footer-site-navigation {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 440px;
  margin: 4px 0 0 7px;
  padding: 0;

  list-style: none;
}

.footer-site-navigation li:nth-child(3) {
  /* подгон под макет */
  margin-right: 12px;
}

.footer-social-buttons {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 165px;
  margin: 0 0 0 509px;
  padding: 0;

  list-style: none;
}

.footer-social-buttons a {
  opacity: 0.3;
  margin: 0 22px 0 0;
}

.footer-social-buttons a:hover,
.footer-social-buttons a:focus {
  opacity: 0.6;
}

.footer-social-buttons a:active {
  opacity: 0.1;
}

.footer-social-button-facebook,
.footer-social-button-instagram,
.footer-social-button-twitter {
  display: block;
  width: 32px;
  height: 32px;
}

.footer-social-button-facebook {
  background-image: url("../img/fb-logo.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-social-button-instagram {
  background-image: url("../img/ig-logo.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-social-button-twitter {
  background-image: url("../img/tw-logo.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* ====================================================================== */
/* ========================== о нас и контакты ========================== */
.index-columns {
  display: flex;
  width: 1160px;
  margin: 0 auto 83px auto;
  padding: 0;

  letter-spacing: normal;
}

.about {
  position: relative;

  width: 470px;
  margin: 0 130px 0 0;
  padding: 0;
}

.about p,
.contacts p {
  margin: 20px 0 30px;
  padding: 0 10px 0 0;
}

.contacts {
  position: relative;

  width: 560px;
  margin: 0;
  padding: 0;
}

.about h2,
.contacts h2 {
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
  letter-spacing: 0.5px;

  background-color: #ffffff;
}

.deliverees,
.deliverees a {
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;

  background-color: #ffffff;
}


.about::before,
.contacts::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: #000000;
}

.index-columns h2 {
  margin: 52px 0 43px 0;
}

.contacts-map {
  display: block;
  margin: 38px 0 0 0;
  padding: 0;

  cursor: pointer;
}

.contacts-writeus {
  width: 260px;
  margin: 60px 0 0 0;

  cursor: pointer;
}

.about-more {
  width: 260px;
  margin: 55px 0 0 0;
}

.deliverees {
  margin: 0;
  padding: 5px 0 0 35px;

  list-style: none;
}

.deliverees li {
  position: relative;
}

.deliverees a::before {
  /* маркеры списка псевдоэлементами */
  content: "";
  position: absolute;
  top: 17px;
  left: -34px;

  box-sizing: border-box;
  width: 8px;
  height: 8px;

  border: 2px solid #e6e6e6;
  border-radius: 50%;
}

/* ====================================================================== */
/* ========================= страница каталога ========================== */
.page-caption {
  width: 1100px;
  margin: 38px auto 0;
  padding: 0 0 0 60px;
}

.catalog-columns-wrapper {
  display: flex;
  width: 100%;
  /*min-width: 1440px;*/
  margin: 46px auto 0;
  padding: 0;

  background-color: #ffffff;
}

.catalog-filters {
  flex-grow: 1;
  width: 328px;
  padding: 0;

  background-color: #ebebeb;
}

.catalog-wrapper {
  flex-grow: 1;
  width: 832px;
  margin: 0;
  padding: 0;
}

/* =============== фильтр, честно стыренный из материалов ==================== */
.price-filter {
  width: 201px;
  margin-top: 7px;
}

.price-filter-range-controls {
  position: relative;

  height: 16px;
  margin-bottom: 6px;
  padding: 14px 0 0 0;
}

.price-filter-range-controls .price-filter-scale {
  height: 2px;

  background: #dbdbdb;
}

.price-filter-range-controls .price-filter-bar {
  width: 56%;
  height: 2px;

  background: #91c92f;
}

.price-filter-range-controls .price-filter-toggle {
  position: absolute;
  top: 5px;

  width: 4px;
  height: 4px;
  padding: 0;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.price-filter-toggle:active {
  top: 4px;

  width: 6px;
  height: 6px;
}

.price-filter-range-controls .price-filter-toggle-min {
  left: -5px;
}

.price-filter-range-controls .price-filter-toggle-max {
  left: 108px;
}


.price-filter-price-controls input,
.price-filter-price-controls label {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.2);
  letter-spacing: normal;
}

.price-filter-price-controls label {
  width: 35%;
}

.price-filter-price-controls input {
  width: 66px;

  text-align: left;

  background-color: #ebebeb;
  border: none;
}

/* =========================================================================== */

.sorting {
  display: flex;
  width: 100%;
  padding: 23px 0;

  background-color: #ebebeb;
}

.sorting-caption {
  width: 180px;
  margin: 0 0 0 65px;
  padding: 0 0 0 10px;
}

.sorting-direction {
  width: 60px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sorting-type {
  display: flex;
  flex-wrap: wrap;
  width: 520px;
  margin: -1px 0 0 -2px;
  padding: 0;

  list-style: none;
  /* чтобы выравнивался в строку с заголовком */
  line-height: 24px;
}

.sorting-type-item {
  margin: 0 0 0 20px;
  padding: 0;
}

.sorting-type-item:nth-child(2) {
  margin-left: 25px;
}

.sorting-type-item:nth-child(3) {
  margin-left: 27px;
}

.sorting-type-item a {
  color: rgba(0, 0, 0, 0.3);
}

.sorting-type-item:first-child a {
  color: rgba(0, 0, 0, 1);
}

.sorting-type-item a:hover,
.sorting-type-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-type-item a:active {
  color: rgba(0, 0, 0, 1);
}

.sorting-direction-item {
  position: relative;
}

.sorting-direction-item:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 19px;

  width: 11px;
  height: 10px;

  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.2;
}

.sorting-direction-item:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 7px;
  right: 0;

  width: 11px;
  height: 10px;

  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.2;
}

.sorting-direction-item:hover::before,
.sorting-direction-item:focus::before {
  opacity: 0.6;
}

.sorting-direction-item:active::before,
.sorting-direction .sorting-direction-item-active::before {
  opacity: 1;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 760px;
  margin: 60px 0 0 72px;
  padding: 0;

  list-style: none;
}

.pagination-list {
  display: flex;
  width: 760px;
  margin: 0 0 77px 72px;
  padding: 0;

  background-color: #ebebeb;
}

.pagination-pages {
  display: flex;
  justify-content: center;
  width: 488px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-button,
.pagination-page {
  display: block;
  margin: 0;

  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  font-stretch: normal;
  letter-spacing: 3.2px;
}

.pagination-button {
  flex-shrink: 0;

  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.pagination-button-previous {
  width: 98px;
  padding: 23px 23px 23px 15px;
}

.pagination-button-next {
  width: 97px;
  padding: 23px 18px 23px 21px;
}

.pagination-button-previous:hover,
.pagination-button-previous:focus,
.pagination-button-next:hover,
.pagination-button-next:focus {
  background-color: #d9d9d9;
}

.pagination-button-previous:active,
.pagination-button-next:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-page {
  margin: 0 5px;
  padding: 23px 9px;

  color: rgba(0, 0, 0, 0.3);
}

.pagination-page:hover,
.pagination-page:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-page:active {
  color: rgba(0, 0, 0, 1);
}

.pagination-item-current .pagination-page {
  color: #000000;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  margin: 23px auto 0;
  padding: 0 0 0 60px;

  list-style: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  font-family: "Open Sans", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.1px;
}

.breadcrumbs a {
  color: rgba(0, 0, 0, 0.3);
}


.breadcrumbs li {
  position: relative;

  margin: 0 38px 0 0;
}

.breadcrumbs li:last-child {
  /* убираем маргин справа у последнего пункта крошек */
  margin: 0;
}

.breadcrumbs li::after {
  /* разделители хлебных крошек псевдоэлементами */
  content: "";
  position: absolute;
  top: 10px;
  right: -21px;

  width: 4px;
  height: 7px;

  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs-current::after {
  /* прячем показ разделителя у текущей крошки */
  display: none;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  /* должно ли меняться состояние текущей хлебной крошки в зависимости от
  ховера/фокуса/актива? наверное, не должно, но сейчас меняется. Чтобы
  убрать следует заменить li на a */
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.filter {
  width: 268px;
  margin: 80px 0 0 auto;
  padding: 0 0 0 60px;
}

.filter-caption {
  margin: 0;
  padding: 23px 178px 23px 0;

  text-align: right;

  background-color: #d9d9d9;
}

.filter fieldset {

  margin: 43px 0 0 0;
  padding: 0;

  border: none;
}

.filter legend {
  position: relative;
}

.filter legend::before {
  content: "";
  position: absolute;
  top: -12px;

  width: 201px;
  height: 2px;

  background-color: #000000;
}


.filter-option {
  padding-left: 39px;
}

.filter-colors {
  margin: 18px 0 0 0;
  padding: 0;

  list-style: none;
}

.filter-bluetooth {
  margin: 17px 0 0 0;
  padding: 0;

  list-style: none;
}

.filter-submit {
  width: 200px;
  margin: 33px 0 0 0;
}

.filter-option {
  position: relative;
}

.filter-option label {
  position: relative;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -40px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::before {
  /* для чекнутого инпута меняем картинку фона и ширину.
  остальное такое же, как и в нечекнутом */
  width: 27px;

  background-image: url("../img/checkbox-on.svg");
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -40px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked + label::before {
  background-image: url("../img/radio-on.svg");
}

.filter-input:not(:disabled):hover + label::before,
.filter-input:not(:disabled):focus + label::before {
  opacity: 0.6;
}

.filter-input:disabled + label {
  opacity: 0.25;
}

.catalog-item {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 360px;
  margin: 8px 40px 37px 0;
  padding: 0;
}

.flag-new::before {
  content: "new";
  position: absolute;
  top: 28px;
  right: 26px;

  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 60px;
  height: 61px;

  font-weight: 800;
  font-size: 14px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  letter-spacing: 0.7px;

  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}


.catalog-item:nth-child(2n) {
  /* у крайних товаров на строке сбрасываем правый маргин */
  margin-right: 0;
}

.catalog-item-title {
  order: 5;
  width: 260px;
  min-height: 48px;
  margin: 32px 0 0 0;
  padding: 0;
}

li.catalog-item:nth-child(2) h3 {
  /* костыль для переноса заголовка профессиональной селфи-палки по
  макету. Или проще бр? */
  padding-right: 25px;
}

.catalog-item-title h3 {
  margin: 0;
  padding: 0;
}

.catalog-item-price {
  order: 10;
  width: 100px;
  margin: 33px 0 0 auto;
  padding: 0;

  text-align: right;
}

.catalog-item .catalog-actions {
  position: absolute;
  top: 0;
  left: 0;

  display: none;
  width: 360px;
  height: 380px;
}

.catalog-item:hover .catalog-actions {
  display: block;

  cursor: pointer;
}

.catalog-item:hover .catalog-item-image {
  /* странно, по вместо 0.7 надо 0.3 для того, чтоб было похоже на макет */
  opacity: 0.3;
}

.catalog-item-image {
  /* защита от больших картинок */
  width: 360px;
  height: 380px;
}

.catalog-buy {
  display: block;
  width: 200px;
  margin: 172px auto 0 auto;
}

.catalog-compare {
  display: block;
  margin: 7px 0 0 5px;

  text-align: center;

  opacity: 0.5;
}

.catalog-compare:hover,
.catalog-compare:focus {
  opacity: 1;
}

.catalog-compare:active {
  opacity: 0.2;
}
/* =========================================================== */

/* ====================== модальные окна ========================= */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;

  display: none;
  /*магия центрования модального окна, подсмотренная в гугле
  больше не нужна, достаточно отрицательных маргинов
  transform: translate(-50%,-50%);*/
}

@keyframes modal-emerge {
  0% {
    transform: translateY(2000px);
  }

  50% {
    transform: translateY(-100px);
  }

  75% {
    transform: translateY(50px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes modal-shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-show {
  display: block;

  animation: modal-emerge 0.5s;
}

.modal-error {
  animation: modal-shake 0.5s;
}

.writeus-form .modal-invalid-field {
  background-color: #f6dada;
  outline: none;
}

.modal-map {
  width: 960px;
  height: 559px;
  margin: -279px 0 0 -480px;

  box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.modal-map img {
  /* для того, чтобы под iframe с интерактивной картой лежал слой с
  картинкой со статичной картой, который показывается при неработающем
  javascript. Нужно для Д21 */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.modal-map iframe {
  position: relative;
  z-index: 6;

  border: none;
}

.modal-close {
  position: absolute;
  top: 22px;
  right: 22px;
  z-index: 9;

  width: 55px;
  height: 55px;

  font-size: 0;

  background-color: transparent;
  background-image: url("../img/modal-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
  opacity: 0.5;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

.modal-writeus {
  width: 960px;
  min-height: 553px;
  margin: -276px -0 0 -480px;

  background-color: #ffffff;
  box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.writeus-form {
  width: 760px;
  margin: 77px 100px 80px 100px;
  padding: 0;
}

.writeus-form label {
  display: block;
  margin: 0 0 7px 0;
  padding: 0;

  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
  font-stretch: normal;
  letter-spacing: normal;
}

.writeus-form input {
  box-sizing: border-box;
  width: 360px;
  min-height: 50px;
  margin: 0;
  padding: 0 0 3px 18px;

  background-color: #f2f2f2;
  border: none;
}

.writeus-form textarea {
  box-sizing: border-box;
  width: 760px;
  min-height: 156px;
  margin: 0;
  padding: 14px 0 0 19px;

  background-color: #f2f2f2;
  border: none;

  resize: none;
}

.writeus-form input,
.writeus-form textarea {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", Arial, sans-serif;
  text-align: left;
  color: rgba(70, 70, 70, 0.4);
  font-stretch: normal;
  letter-spacing: normal;
}

.writeus-form input:hover,
.writeus-form textarea:hover {
  background-color: #eaeaea;
}

.writeus-form input:focus,
.writeus-form textarea:focus {
  color: #464646;

  background-color: #ffffff;
  outline: 3px solid #f0c52e;
}

.writeus-topfields-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.writeus-topfields-item {
  width: 360px;
}

.writeus-letter-field {
  margin: 18px 0 0 0;
  padding: 0;
}

.writeus-button {
  width: 200px;
  margin: 36px 0 0 0;
  padding: 0;
}

/* ================================================================*/
