@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensanslight.woff2") format("woff2"),
         url("../fonts/opensanslight.woff") format("woff");
    font-weight: 300;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensans.woff2") format("woff2"),
         url("../fonts/opensans.woff") format("woff");
    font-weight: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
         url("../fonts/gilroyextrabold.woff") format("woff");
    font-weight: 800;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroylight.woff2") format("woff2"),
         url("../fonts/gilroylight.woff") format("woff");
    font-weight: 300;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.2px;
  color: #464646;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

/* ==================== универсальные стили ======================= */
.button {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  font-weight: 800;
  color: #000000;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  width: 220px;
  height: 40px;
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  /* для выравнивания текста внутри кнопок. Костыль, но работает */
  line-height: 40px;
  /* z-index не авто потому, что на странице каталога цвет фона формы фильтров
  не давал изменять фоны кнопок */
  z-index: 10;
}

.button::before {
  content: "";
  position: absolute;
  background-color: #f0c52e;
  z-index: -1;
  width: 100%;
  height: 8px;
  top: 16px;
  left: 0px;
}

.button:hover::before,
.button:focus::before {
  height: 40px;
  top: 0px;
}

.button:active a {
  opacity: 0.3;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}
/* ================================================================ */
/* ==================== хедер ======================================*/
.main-header {
  background-color: #f7e296;
  width: 1040px;
  margin: 40px auto 0;
  padding: 25px 60px 145px 60px;
}

.catalog-container a,
.header-site-navigation a,
.footer-site-navigation a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.catalog-container-items a {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  letter-spacing: 0.2px;
  color: #464646;
  text-transform: none;
}

.button-search {
  width: 85px;
  height: 49px;
  font-family: inherit;
  align-self: flex-end;
  border-top: 2px solid #000000;
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
  border-bottom: none;
  background-color: #f7e296;
  opacity: 0;
}

.button-search:hover,
.button-search:focus {
  color: #ffffff;
  background-color: #000000;
}

.button-search:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
  opacity: 1;
}

.search-form input[type="text"] {
  background-color: #f7e296;
  border: none;
}

.search-form {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 440px;
  /* прозрачная граница снизу, которая подсвечивается при фокусе поля поиска */
  border-bottom: 2px solid transparent;
}

.search-form:focus-within {
  border-bottom: 2px solid #000000;
}

.search-form::before {
  content: "";

  position: absolute;
  width: 16px;
  height: 16px;
  left: 3px;
  top: 26px;

  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search-field {
  padding: 18px 0 8px 38px;
  margin: 0;
  width: 300px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.2px;
}

.search-field,
.search-field::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-field:hover,
.search-field:hover::placeholder {
  /* первый селектор меняет цвет введенного текста при ховере,  */
  /* второй селектор меняет цвет плейсхолдера при ховере */
  color: rgba(0, 0, 0, 0.6);
}

.search-form input[type="text"]:focus {
  color: #000000;
  outline: none;
}

.search-field:focus + .button-search {
  opacity: 1;
}

.main-navigation a {
  color: #000000;
}

.catalog-container a:hover,
.catalog-container a:focus,
.main-navigation a:hover,
.main-navigation a:focus,
.header-site-navigation a:hover,
.header-site-navigation a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-container a:active,
.main-navigation a:active,
.header-site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
  display: flex;
  width: 1040px;
}

.header-logo {
  /* должен ли логотип в хедере на главной вести себя по стайлгайду при
  ховере и активе? то есть менять прозрачность при том, что на главной логотип -
  это не ссылка. Мне кажется, что должен. Так и сделано */
  margin: 0;
  padding: 0;
  position: absolute;
  top: -44px;
}

.header-logo:hover,
.header-logo:focus {
  opacity: 0.6;
}

.header-logo:active {
  opacity: 0.3;
}

.header-left-column-wrapper {
  width: 540px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  padding: 0;
}

.header-right-column-wrapper {
  width: 500px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 18px 0 0 0;
}

.header-site-navigation {
  display: flex;
  width: 100%;
  padding: 0;
  position: relative;
  list-style: none;
}

.header-site-navigation a {
  display: inline-block;
}

.header-site-navigation li:nth-child(1) {
  width: 125px;
  padding: 0;
  margin: 0;
}

.header-site-navigation li:nth-child(2) {
  width: 115px;
  padding: 0;
  margin: 0 0 0 33px;
}

.header-site-navigation li:nth-child(3) {
  width: 120px;
  padding: 0;
  margin: 0 0 0 107px;
}

.index-page .header-site-navigation::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 7px;
  top: 115px;
  background-color: #ffffff;
  z-index: 50;
}

.catalog-container {
  /* снова злосчастный -1 пиксель слева */
  margin: 27px 0 0 -1px;
  padding: 0;
  position: relative;
}

.catalog-container-caption {
  /* паддинг справа для плюсика-псевдоэлемента */
  /* а слева - чтобы была сплошная область для ховера при показе меню */
  padding: 0 30px 25px 0;
  position: relative;
  /*background-color: rgba(0, 200, 0, 0.5);*/
}

.catalog-container-caption::before {
  /* плюсик-псевдоэлемент */
  content: "";

  position: absolute;
  width: 16px;
  height: 16px;
  left: 231px;
  top: 2px;

  background-image: url("../img/plus.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-container-items {
  /* выпадающее меню каталога */
  display: none;
  width: 1160px;
  position: absolute;
  left: -59px;
  top: 47px;
  background-color: #f7e296;
  margin: 0;
  padding: 0 0 34px 0;
  list-style: none;
}

.catalog-container-caption:hover ~ .catalog-container-items {
  /* показ всплывающего меню */
  display: flex;
}

.catalog-container-items:hover {
  /* и продолжение показа при ховерах по пунктам
  но это работает не так как хотелось. Такое чувство, что ховер активируется только
  при наведении на старое место элемента. Как лечить? */
  display: flex;
}

.catalog-container-items-digital {
  width: 240px;
  padding: 0 0 0 60px;
  margin: 0;
  list-style: none;
}

.catalog-container-items-watches {
  width: 200px;
  list-style: none;
  padding: 0;
}

.catalog-container-items-toys {
  width: 120px;
  list-style: none;
  padding: 0;
}

.header-right-column-topmenu-wrapper {
  display: flex;
  width: 500px;
  margin: 0;
}

.header-right-column-bottommenu-wrapper {
  /* а нужна ли эта обертка? ее функции неплохо выполнит и сам неупорядоченный
  список .header-site-navigation. Переделать, если будет время */
  display: flex;
  justify-content: space-between;
  margin: 21px 0 0 0;
  width: 500px;
}

.header-user-navigation {
  margin: 0;
  padding: 0 0 0 25px;
  width: 255px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

li .header-logout {
  /* любопытно, селектор просто по классу .header-logout не перекрашивал цвет,
  потому что селектор (.main-navigation a) был сильнее */
  padding: 0;
  color: rgba(0, 0, 0, 0.3);
  margin: 0 0 0 19px;
}

.header-login {
  padding: 0;
}

.header-loggedin {
  margin: 0 0 0 2px;
  padding: 0;
}

.header-login::before,
.header-loggedin::before {
  content: "";

  position: absolute;
  width: 13px;
  height: 12px;
  left: 0px;
  top: 9px;

  background-image: url("../img/user-header.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-compare-button {
  margin: 0 0 0 2px;
  padding: 0 0 0 25px;
  position: relative;

  width: 70px;
  /*background-color: rgba(0, 200, 200, 0.3)*/
}

.header-compare-button::before {
  content: "";

  position: absolute;
  width: 10px;
  height: 10px;
  left: 5px;
  top: 11px;

  background-image: url("../img/compare-header.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-cart-button {
  margin: 0 0 0 38px;
  padding: 0 0 0 25px;

  position: relative;
  width: 60px;

  text-align: right;
  /*background-color: rgba(0, 200, 0, 0.3)*/
}

.header-cart-button::before {
  content: "";

  position: absolute;
  width: 12px;
  height: 12px;
  left: 2px;
  top: 9px;

  background-image: url("../img/cart-header.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.header-compare-button:hover::before,
.header-compare-button:focus::before,
.header-cart-button:hover::before,
.header-cart-button:focus::before {
  /* иконка входа на главной по макету не становится прозрачна на 0.6 при
  наведении. Это ошибка или сознательно сделанная мелочь?
  У меня сделано по макету */
  opacity: 0.6;
}

.header-login:active::before,
.header-compare-button:active::before,
.header-cart-button:active::before {
  opacity: 0.3;
}


/* ================================================================ */

/* ======================== заготовки ============================= */
.services-button {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.popular-catalog a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.2px;
}

.services-button {
  width: 160px;
  /*height: 8px;*/
  /* сделать в состоянии покоя 8px высотой #f7e296 полоску */
  background-color: #f7e296;
  /* текст слева и паддинг слева - временные решения */
  /* на самом деле эти кнопки */
  text-align: center;
  vertical-align: middle;
}

.services-button:hover,
.services-button:focus {
  height: 40px;
}

.services-button:active {
  /* в этом состоянии текст должен оставаться центрированным */
  /* в области старой кнопки, а справа, видимо, пририсовывается черный п/у */
  width: 278px;
  color: #f7e184;
  background-color: #000000;
}

/* ================== промо каталог =============================== */
.promo-caption {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 179px;
  line-height: 179px;
  font-weight: 800;
  color: #ffffff;
  letter-spacing: 1.8px;

  padding: 0;
  margin: 0;
}

.promo-container-highlight {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.5px;
}

.promo-features-caption {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #464646;
  letter-spacing: 0.1px;
}

.promo-features-value {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.4px;
}

.promo {
  width: 1440px;
  padding: 0;
  margin: 0 auto;
}

.promo-catalog {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.promo-catalog-item {
  width: 1160px;
  display: none;
  justify-content: space-between;
  padding: 0;
  margin: -110px auto 0;
  position: relative;
}

.promo-caption {
  position: absolute;
  color: red;
}

.promo-container-image-wrapper {
  width: 580px;
  margin: 0;
  padding: 0;
}

.promo-catalog-item:nth-child(1) .promo-container-image {
  margin: 0 0 0 90px;
}

.promo-container-description {
  width: 500px;
  padding: 30px 60px 0px 20px;
}

.promo-container-highlight {
  margin: 50px 0 0 0;
  padding: 0;
}

.promo-container-info {
  margin: 18px 0 0 0;
  padding: 0;
}

.button-slider-more {
  width: 220px;
  margin: 43px 0 0 0;
}

.promo-slider-controls {
  width: 80px;
  background-color: green;
}

.promo-slider-controls label {
  /* чтобы, делая кружки в контролах слайдера не вычитать рамки */
  box-sizing: border-box;
  display: inline-block;
  vertical-align: center;
  width: 12px;
  height: 12px;
  border: 1px solid #000000;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  margin: 0 9px 0 0;
  font-size: 0;
}

.promo-slider-radio-1:checked ~ .promo-catalog .promo-catalog-item:nth-child(1),
.promo-slider-radio-2:checked ~ .promo-catalog .promo-catalog-item:nth-child(2),
.promo-slider-radio-3:checked ~ .promo-catalog .promo-catalog-item:nth-child(3) {
  display: flex;
}

.promo-slider-radio-1:checked ~ .promo-slider-controls .promo-slider-control--1::before,
.promo-slider-radio-2:checked ~ .promo-slider-controls .promo-slider-control--2::before,
.promo-slider-radio-3:checked ~ .promo-slider-controls .promo-slider-control--3::before {
  /* этот монстр формально соответствует критерию Д7 про вложенность селекторов
  не больше двух */
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: 6px;
  height: 6px;
  top: 2px;
  left: 2px;
  border: 1px solid #000000;
  border-radius: 50%;
}




/*.promo-catalog {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

 .promo-catalog-item {
  display: flex;
  position: relative;
  width: 1160px;
  margin: 50px auto 0px auto;
  padding: 0;
}

.promo-container-image {
  width: 600px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.promo-container-text {
  width: 500px;
  margin: 0 60px 0 0;
  padding: 0;
}*/

/* ================================================================ */
/* ========================= раздел популярных ==================== */

.popular-catalog {
  display: flex;
  width: 1160px;
  margin: 105px auto 0 auto;
  list-style: none;
}

.popular-catalog-item {
  margin: 0 20px;
}

.popular-catalog-item-picture {
  width: 160px;
  height: 160px;
  background-color: #f7e296;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popular-catalog-item-caption {
  display: block;
  width: 160px;
  margin: 40px 0 0 0;
}

/* ================================================================ */
/* ===================== раздел брендов =========================== */

.brands-list {
  width: 1160px;
  margin: 50px auto 0;
  padding: 30px 0;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

/* ================================================================ */
/* =============== стили каталога ================================= */
.catalog-page .header-logo {
  /* на внутренней странице логотип почему-то немного передвинут
  разница в 2 пикселя */
  top: -42px;
}

.catalog-page .main-header {
  padding: 25px 60px 31px 60px;
}

.catalog-page h1 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.5px;

  background-color: #ffffff;
}

.filter legend,
.catalog h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.2px;
}

.filter label {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
  letter-spacing: 0.1px;
}

.catalog-item-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #464646;
  letter-spacing: 0.2px;
}

.filter-caption,
.sorting h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.catalog-compare {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 13px;
  line-height: 36px;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.1px;
}


/* ================================================================ */

/* ========================== футер =============================== */
.main-footer {
  color: #ffffff;

  background-color: #464646;

  width: 100%;

}

.footer-navigation {
  display: flex;
  width: 1160px;
  margin: 83px auto 0;
  padding: 65px 140px 55px;
}

/*.main-footer {
  color: #ffffff;

  background-color: #464646;

  width: 1160px;
  margin: 83px auto 0;
  padding: 65px 140px 55px;
}

.footer-navigation {
  display: flex;
  width: 100%;
}*/

.footer-site-navigation a {
  color: #ffffff;
}

.footer-site-navigation a:hover,
.footer-site-navigation a:focus {
  opacity: 0.6;
}

.footer-site-navigation a:active {
  opacity: 0.3;
}

.footer-user-menu a {
  color: #ffffff;
  opacity: 0.7;
}

.footer-user-menu a:hover,
.footer-user-menu a:focus {
  opacity: 1;
}

.footer-user-menu a:active {
  opacity: 0.3;
}


.footer-left-column-wrapper {
  width: 360px;
}

.footer-middle-column-wrapper {
  width: 440px;
}

.footer-right-column-wrapper {
  width: 360px;
  display: flex;
  flex-direction: column;
}


.footer-logo-address {
  margin: 21px 0 0 0;
  padding: 0;
  letter-spacing: normal;
  position: relative;
}

.footer-logo-address::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  top: 107px;
  left: 0px;
  background-color: #ffc600;
}

.footer-logo img:hover,
.footer-logo img:focus,
.footer-user-menu a:hover::before,
.footer-user-menu a:focus::before,
.footer-copyright:hover,
.footer-copyright:focus {
  /* в .footer-user-menu все элементы ссылки, поэтому данное правило
  срабатывает на них на всех разом. */
  opacity: 0.6;
}

.footer-logo img:active,
.footer-user-menu a:active::before,
.footer-copyright:active {
  opacity: 0.3;
}

.footer-user-menu {
  width: 100%;
  margin: -2px 0 0 0;
  padding: 0;
  display: flex;
}

.catalog-page .footer-user-menu {
  /* костыль с отрицательным левым маргином для страницы каталога
  (не учел, делая сетку футера главной тот факт, кто меню пользователя
  наползает на среднюю колонку на внутренних страницах).
  Переделать бы на другую сетку... */
  width: 480px;
  margin: -2px 0 0 -120px;
}

.footer-user-navigation {
  margin: 0 32px 0 auto;
  padding: 0 0 0 30px;
  width: 50px;
  position: relative;
  list-style: none;
}

.catalog-page .footer-user-navigation {
  width: 200px;
  display: flex;
}

li .footer-logout {
  /* снова не хотела перекрашиваться ссылка "выйти", пришлось
  усиливать селектор по классу */
  opacity: 0.3;
}

.footer-logout {
  margin: 0 0 0 19px;
}

.footer-login::before {
  content: "";

  position: absolute;
  width: 13px;
  height: 12px;
  left: 4px;
  top: 9px;

  background-image: url("../img/user-footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.footer-loggedin {
  margin: 0 0 0 -4px;
}

.footer-loggedin::before {
  content: "";

  position: absolute;
  width: 13px;
  height: 12px;
  left: 0px;
  top: 9px;

  background-image: url("../img/user-footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.footer-compare-button {
  margin: 0 28px 0 0;
  padding: 0 0 0 25px;
  width: 75px;
  position: relative;
}

.footer-compare-button::before {
  content: "";

  position: absolute;
  width: 10px;
  height: 10px;
  left: 5px;
  top: 11px;

  background-image: url("../img/compare-footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.footer-cart-button {
  margin: 0 -2px 0 0;
  padding: 0 0 0 25px;
  width: 65px;
  text-align: right;
  position: relative;
}

.footer-cart-button::before {
  content: "";

  position: absolute;
  width: 12px;
  height: 12px;
  left: 7px;
  top: 9px;

  background-image: url("../img/cart-footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.footer-logo-phone {
  margin: 37px 0 0 auto;
  padding: 0;
  letter-spacing: normal;
}

.footer-copyright {
  margin: 62px -1px 0 auto;
  padding: 0;
}

.footer-login {
  margin: 0;
  padding: 0;
}

.footer-site-navigation {
  margin: 69px 0 0 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.footer-site-navigation li:nth-child(1) {
  width: 125px;
  margin: 0 0 0 8px;
}

.footer-site-navigation li:nth-child(2) {
  width: 115px;
  margin: 0 0 0 33px;
}

.footer-site-navigation li:nth-child(3) {
  width: 120px;
  margin: 0 0 0 32px;
}

.footer-social-buttons {
  display: flex;
  margin: 60px 140px 0 140px;
  padding: 0;
  justify-content: space-around;
  opacity: 0.3;
  list-style: none;
}

.footer-social-buttons a:hover,
.footer-social-buttons a:focus {
  opacity: 0.6;
}

.footer-social-buttons a:active {
  opacity: 0.1;
}

/* ====================================================================== */
/* ========================== о нас и контакты ========================== */
.index-columns {
  width: 1160px;
  padding: 0 140px;
  margin: 0 auto;
  display: flex;
  letter-spacing: normal;
}

.about {
  width: 470px;
  margin: 0 130px 0 0;
  padding: 0;
  position: relative;
}

.about p,
.contacts p {
  margin: 20px 0 30px;
  padding: 0 10px 0 0;
}

.contacts {
  width: 560px;
  margin: 0;
  padding: 0;
  position: relative;
}

.about h2,
.contacts h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.5px;

  background-color: #ffffff;
}

.deliverees,
.deliverees a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  color: #000000;

  background-color: #ffffff;
}


.about::before,
.contacts::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  top: 0px;
  left: 0px;
  background-color: #000000;
}

.index-columns h2 {
  margin: 52px 0 43px 0;
}

.contacts-map {
  display: block;
  margin: 38px 0 0 0;
  padding: 0;
}

.contacts-writeus {
  width: 260px;
  margin: 60px 0 0 0;
}

.about-more {
  width: 260px;
  margin: 55px 0 0 0;
}

.deliverees {
  padding: 5px 0 0 35px;
  margin: 0;
  list-style: none;
}

.deliverees li {
  position: relative;
}

.deliverees a::before {
  /* маркеры списка псевдоэлементами */
  content: "";
  position: absolute;
  box-sizing: border-box;
  height: 8px;
  width: 8px;
  top: 17px;
  left: -34px;
  border: 2px solid #e6e6e6;
  border-radius: 50%;
}

/* ====================================================================== */
/* ========================= страница каталога ========================== */
.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0;
}

.page-caption {
  width: 1100px;
  padding: 0 0 0 60px;
  margin: 38px auto 0;
}

.catalog-columns-wrapper {
  /*width: 1440px;*/
  width: 100%;
  padding: 0;
  margin: 47px auto 0;
  display: flex;
  background-color: #ffffff;
}

.catalog-filters {
  width: 468px;
  /*margin: 0;*/
  padding: 0;
  background-color: #ebebeb;
  flex-grow: 1;
  /*flex-shrink: 0;*/
}

.catalog-right-column-wrapper {
  width: 972px;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  /*flex-shrink: 0;*/
}

.sorting {
  display: flex;
  /*width: 972px;*/
  width: 100%;
  /* когда дело дойдет до блока сортировок, паддинги надо сделать 24 сверху
  23 снизу, потому что лайн хейт у заголовка 24, а у ссылок в списках 30
  а должно быть одной высоты с заголовком формы поиска */
  padding: 21px 0 20px 0;
  background-color: #ebebeb;
}

.sorting-caption {
  margin: 0 0 0 72px;
}
.sorting-direction {
  list-style: none;
}

.sorting-type {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.sorting-type-item {
  padding: 0 50px 0 0;
}

.catalog-list {
  width: 760px;
  display: flex;
  flex-wrap: wrap;
  margin: 60px 0 0 72px;
  padding: 0;
  list-style: none;
}

.pagination-list {
  display: flex;
  width: 760px;
  margin: 0 0 0 72px;
  padding: 0;
  list-style: none;
  justify-content: space-between;
  background-color: #ebebeb;
}

.breadcrumbs {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 0 60px;
  margin: 23px auto 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.1px;
  color: rgba(0, 0, 0, 0.3);
  list-style: none;
}

.breadcrumbs a {
  color: rgba(0, 0, 0, 0.3);
}


.breadcrumbs li {
  margin: 0 38px 0 0;
  position: relative;
}

.breadcrumbs li:last-child {
  /* убираем маргин справа у последнего пункта крошек */
  margin: 0;
}

.breadcrumbs li::after {
  /* разделители хлебных крошек псевдоэлементами */
  content: "";
  width: 4px;
  height: 7px;
  position: absolute;
  top: 10px;
  right: -21px;
  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs-current::after {
  /* прячем показ разделителя у текущей крошки */
  display: none;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  /* должно ли меняться состояние текущей хлебной крошки в зависимости от
  ховера/фокуса/актива? наверное, не должно, но сейчас меняется. Чтобы
  убрать следует заменить li на a */
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.filter {
  width: 268px;
  margin: 80px 0 0 auto;
  padding: 0 0 0 200px;
}

.filter-caption {
  background-color: #d9d9d9;
  padding: 24px 180px 23px 0;
  margin: 0;
  /*display: inline-block;*/
  /*width: 100%;*/
  /*width: 268px;*/
  text-align: right;
}

.filter fieldset {
  border: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.filter fieldset::before {
  content: "";
  position: absolute;
  width: 201px;
  height: 2px;
  background-color: #000000;
  top: -36px;
}

.filter > fieldset:nth-child(2) {
  margin-top: 104px;
}

.filter > fieldset:nth-child(3) {
  margin-top: 56px;
}

.filter > fieldset:nth-child(4) {
  margin-top: 44px;
}

.filter-option {
  padding-left: 39px;
}

.filter-colors {
  padding: 0;
  margin: 17px 0 0 0;
  list-style: none;
}

.filter-bluetooth {
  padding: 0;
  margin: 17px 0 0 0;
  list-style: none;
}

.filter-submit {
  margin: 32px 0 0 0;
  width: 200px;
}

.filter-option {
  position: relative;
}

.filter-option label {
  position: relative;
  /*cursor: pointer;*/
}

input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  /* очень долго возился прежде чем понял, что рекомендованный visually-hidden,
  который в самом начале файла стилей приведен, перестает работать при
  фокусе/активе и из-за этого чекбоксы и радиокнопки в фильтре переставали быть
  спрятанными. Так что переопределю для них скопипасченный из барбершопа.
  Это же распространилось и на слайдер на главной */

  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: -2px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::before {
  /* для чекнутого инпута меняем картинку фона и ширину.
  остальное такое же, как и в нечекнутом */
  width: 27px;
  background-image: url("../img/checkbox-on.svg");
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: -3px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked + label::before {
  background-image: url("../img/radio-on.svg");
}

.filter-input:not(:disabled):hover + label::before {
  opacity: 0.6;
}

.filter-input:disabled + label {
  opacity: 0.25;
}

.catalog-item {
  width: 360px;
  padding: 0;
  margin: 8px 40px 37px 0;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.catalog-item .flag-new {
  position: absolute;
  width: 60px;
  height: 60px;
  right: 27px;
  top: 28px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.7px;
  color: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.catalog-item:nth-child(2n) {
  /* у крайних товаров на строке сбрасываем правый маргин */
  margin-right: 0;
}

.catalog-item-title {
  order: 5;
  padding: 0;
  margin: 23px 0 0 0;
  width: 260px;
  min-height: 48px;
}

li.catalog-item:nth-child(2) h3 {
  /* костыль для переноса заголовка профессиональной селфи-палки по
  макету. Или проще бр? */
  padding-right: 25px;
}

.catalog-item-title h3 {
  margin: 0;
  padding: 0;
}

.catalog-item-price {
  order: 10;
  width: 100px;
  text-align: right;
  margin: 24px 0 0 auto;
  padding: 0;
}

.catalog-item .catalog-actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 380px;
  display: none;
}

.catalog-item:hover .catalog-actions {
  display: block;
  cursor: pointer;
}

.catalog-item:hover .catalog-item-image {
  /* странно, по вместо 0.7 надо 0.3 для того, чтоб было похоже на макет */
  opacity: 0.3;
}

.catalog-buy {
  margin: 172px auto 0 auto;
  width: 200px;
  display: block;
}

.catalog-compare {
  margin: 7px 0 0 5px;
  display: block;
  text-align: center;
  opacity: 0.5;
}

.catalog-compare:hover,
.catalog-compare:focus {
  opacity: 1;
}

.catalog-compare:active {
  opacity: 0.2;
}
/* =========================================================== */


/* ====================== модальные окна ========================= */
/* реализация модальных окон подсмотрена в гугле,
переделать, если на лекциях расскажут о методике */

/* можно ли сделать закрытие модальных окон esc, а не
кликая каждый раз на крестик? */

/* есть мнение, что модальные окна через target не закроются */

/*let popup = document.querySelector(".modal");
let close = document.querySelector(".btn--close");

function closepopup() {
popup.classList.add("hide");
popup.classList.remove("modal-open");
popup.classList.remove("form-error");
document.querySelector('body').classList.remove('body-with-open-modal');
}

close.addEventListener("click", function (evt) {
evt.preventDefault();
closepopup();
});

//закрытие окна по ESC
window.addEventListener("keydown", function (evt) {
if (evt.keyCode === 27) {
evt.preventDefault();
if (popup.classList.contains("modal-open")) {
closepopup();
}
}
});
//закрытие по клику мимо окна
document.addEventListener("mouseup", function (evt) {
if (evt.target.closest('.modal') === null) {
closepopup();
}
}*/

.modal {
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  display: none;
  /* магия центрования модального окна, подсмотренная в гугле */
  transform: translate(-50%,-50%);
}

.modal-map:target {
  display: block;
}

.modal-writeus:target {
  display: block;
}

.modal-map {
  width: 960px;
  height: 559px;
  box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.modal-close::before {
  content: "";
  position: absolute;
  width: 55px;
  height: 55px;
  right: 22px;
  top: 22px;
  opacity: 0.5;

  background-image: url("../img/modal-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-close:hover::before,
.modal-close:focus::before {
  opacity: 1;
}

.modal-close:active::before {
  opacity: 0.3;
}

.modal-writeus {
  width: 960px;
  height: 553px;
  background-color: #ffffff;
  box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.writeus-form {
  margin: 77px 100px 80px 100px;
  padding: 0;
  width: 760px;
}

.writeus-form label {
  display: block;
  margin: 0 0 7px 0;
  padding: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: normal;
  color: #000000;
}

.writeus-form input {
  box-sizing: border-box;
  width: 360px;
  border: none;
  background-color: #f2f2f2;
  min-height: 50px;
  margin: 0;
  padding: 0 0 3px 18px;
}

.writeus-form textarea {
  box-sizing: border-box;
  width: 760px;
  min-height: 156px;
  border: none;
  background-color: #f2f2f2;
  resize: none;
  margin: 0;
  padding: 14px 0 0 19px;
}

.writeus-form input,
.writeus-form textarea {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 18px;
  letter-spacing: normal;
  text-align: left;
  color: rgba(70, 70, 70, 0.4);
}

.writeus-form input:hover,
.writeus-form textarea:hover {
  background-color: #eaeaea;
}

.writeus-form input:focus,
.writeus-form textarea:focus {
  background-color: #ffffff;
  color: #464646;
  border: 3px solid #f0c52e;
}


.writeus-topfields-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.writeus-topfields-item {
  width: 360px;
}

.writeus-letter-field {
  margin: 18px 0 0 0;
  padding: 0;
}

.writeus-button {
  width: 200px;
  margin: 36px 0 0 0;
  padding: 0;
}

/* ================================================================*/

